# Terraform state and generated configurations

/configurations/.terraform.tfstate.lock.info
/configurations/terraform.tfstate
/configurations/terraform.tfstate.backup
/prometheus/.terraform/


# Various IDEs
.idea/
custom_venv/
/apps/app-box/.terraform/environment
/apps/app-box/terraform.tfstate.d/
/apps/app-box/.terraform/
/apps/app-box/terraform.tfstate
/status_code_processor.log
/newfile.log
/db.sqlite3
